/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* layout outline */

*{
	outline: 1px solid #000;
}

/* layout */

.wrap{
    width: 1024px;
    margin: 0 auto;
}

/* layout header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: rgb(52,52,52,0.5);
	/* opacity: 0.5; */
}

.header h1 a{
	display: block;
	width: 170px;
	background-image: url(https://upload.cc/i1/2022/12/24/E8jq6s.png);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0px;
	margin: 18px 40px;
}

/* layout header navigation */

.header ul{
	display: flex;
	justify-content: space-between;
}

.header ul li{
	margin-right: 22px;
}

.header ul li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 30px 14px 25px;
	border-bottom: 5px solid transparent;
}

.header ul li a:hover{
	color: #00cf94;
	border-bottom: 5px solid #00cf94;
}

.header ul li a:active{
	color: #278203;
	border-bottom: 5px solid #278203;
}

/* layout footer */

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #303228;
}

.footerlogo{
	margin-top: 36px;
	margin-bottom: 33px;
	margin-left: 40px;
}

.footerlogo a{
	display: block;
	width: 170px;
	background-image: url(https://upload.cc/i1/2022/12/24/E8jq6s.png);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0px;
	margin-bottom: 5px;
}

.footerlogo p{
	color: #85877d;
	text-align: right;
}

/* layout footer socaillink */

.footer ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

.footer ul li{
	margin-right: 20px;
}

/* index.html */

.index_banner{
	background-image: url(https://upload.cc/i1/2022/12/27/Tgbkzp.jpg);
	background-position: 18% 38%;
	padding-bottom: 137px;
	background-size: 150%;
}

.index_banner p{
	font-size: 44px;
	color: #00cf94;
	line-height: 1.7;
	margin-top: 150px;
	margin-left: 40px;

}

.index_banner p span{
	color: #ffffff;
}

.index_banner .index_banner_btn{
	display: block;
	width: 211px;
	margin-top: 50px;
	margin-left: 40px;
}
.index_banner button{
	font-size: 20px;
	color: #ffffff;
	background-color: #00cf94;
	background-image: url(https://upload.cc/i1/2022/12/27/LRU4Am.png);
	background-position: 80% 50%;
	background-repeat: no-repeat;
	border-radius: 5px;
	border: none;
	padding: 16px 73px 16px 38px;
	cursor: pointer;
}

.index_banner button:hover{
	color: #00cf94;
	background-color: #ffffff;
	background-image: url(https://upload.cc/i1/2022/12/27/cqjwe3.png);
}
