/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* layout outline */

*{
	/* outline: 1px solid #000; */
}


/* layout */

.wrap{
    width: 1024px;
    margin: 0 auto;
}

/* layout header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: rgb(52,52,52,0.5);
}

.header h1 a{
	display: block;
	width: 170px;
	background-image: url(https://upload.cc/i1/2022/12/24/E8jq6s.png);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0px;
	margin: 18px 40px;
}


/* layout header navigation */

.header ul{
	display: flex;
	justify-content: space-between;
}

.header ul li{
	margin-right: 22px;
}

.header ul li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 30px 14px 25px;
	border-bottom: 5px solid transparent;
}

.header ul li a:hover{
	color: #00cf94;
	border-bottom: 5px solid #00cf94;
}

.header ul li a:active{
	color: #278203;
	border-bottom: 5px solid #278203;
}


/* layout footer */

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #303228;
}

.footerlogo{
	margin-top: 36px;
	margin-bottom: 33px;
	margin-left: 40px;
}

.footerlogo a{
	display: block;
	width: 170px;
	background-image: url("images/footer-logo.png");
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0px;
	margin-bottom: 5px;
}

.footerlogo p{
	color: #85877d;
	text-align: right;
}


/* layout footer socaillink */

.footer ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

.footer ul li{
	margin-right: 20px;
}


/* index.html banner*/

.index_banner{
	background-image: url(https://upload.cc/i1/2022/12/27/Tgbkzp.jpg);
	background-position: 18% 38%;
	padding-bottom: 137px;
	background-size: 150%;
}

.index_banner p{
	font-size: 44px;
	color: #00cf94;
	line-height: 1.7;
	margin-top: 150px;
	margin-left: 40px;

}

.index_banner p span{
	color: #ffffff;
}

.banner_button{
	display: block;
	width: 211px;
	margin-top: 50px;
	margin-left: 40px;
}
.banner_button button{
	font-size: 20px;
	color: #ffffff;
	background-color: #00cf94;
	background-image: url(https://upload.cc/i1/2022/12/27/LRU4Am.png);
	background-position: 80% 50%;
	background-repeat: no-repeat;
	border-radius: 5px;
	border: none;
	padding: 16px 73px 16px 38px;
	cursor: pointer;
}

.banner_button button:hover{
	color: #00cf94;
	background-color: #ffffff;
	background-image: url(https://upload.cc/i1/2022/12/27/cqjwe3.png);
}


/* general usage */

/* enroll button */

/* light-green title span */

/* light-gray title */


/* index.html content details */

.index_content{
	margin: 60px 40px;
}

.index_content .index_course{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 22px;
}

.index_content .index_course p{
	font-size: 16px;
	color: #9e9e9e;
}

.index_content .index_course p span{
	font-size: 36px;
	color: #00cf94;
}

.index_content .index_course a{
	display: block;
	font-size: 12px;
	color: #00cf94;
	text-decoration: none;
	padding: 5px 8px;
	border: 2px solid #00cf94;
	border-radius: 3px;
}

.index_content .index_course a:hover{
	color: #00cf94;
	background-color: yellow;
	border: 2px solid #00cf94;
	border-radius: 3px;
}

.index_content .index_course_details{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.index_content .index_course_details li{
	width: 300px;
	text-align: center;
	padding: 26px 0px;
	box-shadow: 0px 2px 5px #bababa;
}

.index_content .index_course_details li a{
	text-decoration: none;
}

.index_content .index_course_details li img{
	margin-bottom: 10px;
}

.index_content .index_course_details li h3{
	font-size: 16px;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.index_content .index_course_details li p{
	font-size: 14px;
	line-height: 1.3;
	color: #9e9e9e;
	padding: 0px 35px;
}


/* index.html content compare */

.index_content .index_course_compare_text{
	font-size: 16px;
	color: #9e9e9e;
	margin-bottom: 26px;
}

.index_content .index_course_compare_text span{
	font-size: 36px;
	color: #00cf94;
}

.index_content table{
	width: 100%;
	color: #383838;
	font-weight: bold;
	text-align: center;
}

.index_content table .table_title{
	background-color: #ececec;
}

.index_content table td{
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0px;
}

.index_content table .table_highlight{
	color: #00cf94;
}


/* index.html form */

.index_form{
	display: flex;
	justify-content: space-between;
	background-color: #ececec;
	padding: 139px 42px 57px;
}

.index_form p{
	font-size: 30px;
	font-weight: bold;
	color: #383838;
	line-height: 2;
}

.index_form .index_info{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.index_form .index_info input{
	width: 450px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

.index_form .person{
	color: #9e9e9e;
	padding: 16px 0px 16px 22px;
	margin-bottom: 20px;
}

.index_form .index_info .submit_btn{
	width: 160px;
	color: #ffffff;
	background-color: #00cf94;
	padding: 14px 38px;
}

.index_form .index_info .submit_btn:hover{
	background-color: #278203;
}

/* course.html banner */

.course_banner{
	background-image: url(https://upload.cc/i1/2023/01/03/SQ5XNr.jpg);
	background-position: -13% 5%;
}

.course_banner_wrap{
	display: flex;
	justify-content: space-between;
}

.course_banner_text{
	margin: 97px 0 187px 0;
}

.course_banner_text h2{
	font-size: 48px;
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: 15px;
	margin-left: 40px;
}

.course_banner_text h3{
	font-size: 24px;
	color: #00cf94;
	margin-bottom: 60px;
	margin-left: 40px;
}

.course_banner_logo{
	display: flex;
	justify-content: space-between;
	width: 220px;
	height: 135px;
	margin: 40px 60px 0 0;
}


/* course.html content course-lecturer */

.course_content{
	padding: 60px 200px;
}

.course_lecturer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.course_lecturer h2{
	font-size: 32px;
	color: #303228;
	line-height: 1.5;
}

.course_lecturer h2 span{
	color: #00cf94;
}

.course_lecturer ul{
	list-style: inside;
}

.course_lecturer li{
	font-size: 14px;
	color: #9e9e9e;
	line-height: 1.2;
}

.course_lecturer li:before{
	content: "";
	padding-left: 20px;
}


/* course.html content course-details */

.course_content .course_details p{
	font-size: 16px;
	color: #9e9e9e;
	margin-bottom: 30px;
}

.course_content .course_details p span{
	font-size: 36px;
	color: #00cf94;
}

.course_content .course_details ol{
	list-style: decimal;
	margin-bottom: 57px;
	margin-left: 20px;
}

.course_content .course_details li{
	font-size: 14px;
	color: #303228;
	line-height: 1.3;
}

.course_content .course_details li:before{
	content: "";
	padding-left: 10px;
}


/* course.html content course-compare */

.course_content .course_compare p{
	font-size: 16px;
	color: #9e9e9e;
	margin-bottom: 30px;
}

.course_content .course_compare p span{
	font-size: 36px;
	color: #00cf94;
}

.course_content .course_compare table{
	width: 100%;
	font-size: 14px;
	color: #9e9e9e;
	margin-bottom: 58px;
}

.course_content .course_compare table td{
	padding: 15px 37px;
}

.course_content .course_compare table .gray_bgc{
	color: #303228;
	background-color: #ececec;
}


/* course.html form */

.course_form{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	background-color: #ececec;
	padding: 150px 200px;
}

.course_form p{
	font-size: 30px;
	font-weight: bold;
	color: #303228;
	line-height: 2;
}

.course_form a{
	display: block;
	width: 211px;
}
.course_form button{
	font-size: 20px;
	color: #ffffff;
	background-color: #00cf94;
	background-image: url(https://upload.cc/i1/2022/12/27/LRU4Am.png);
	background-position: 80% 50%;
	background-repeat: no-repeat;
	border-radius: 5px;
	border: none;
	padding: 16px 73px 16px 38px;
	cursor: pointer;
}

.course_form button:hover{
	color: #00cf94;
	background-color: #ffffff;
	background-image: url(https://upload.cc/i1/2022/12/27/cqjwe3.png);
}


/* faq.html banner */

.faq_banner{
	background: url(https://upload.cc/i1/2023/01/04/qYgAFe.jpg) 50% 32%;
}

.faq_banner_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 108px 0 191px;
}

.faq_banner_text h2{
	font-size: 44px;
	color: #ffffff;
	margin-bottom: 15px;
}

.faq_banner_text p{
	font-size: 24px;
	color: #00cf94;
	margin-bottom: 50px;
}

.faq_banner_text form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 630px;
	background-color: #ffffff;
	border-radius: 7px;
	padding: 5px;
}

.faq_banner_text input{
	width: 550px;
	font-size: 20px;
	padding: 10px;
	border: none;
}

.faq_banner_text label img{
	margin: 10px;
}

/* faq_content */

.faq_content{
	padding: 60px 125px;
}

.faq_content h2{
	font-size: 36px;
	color:#00cf94;
	margin-bottom: 34px;
}

.faq_content h2 span{
	font-size: 16px;
	color: #9e9e9e;
}

.faq_content li{
	margin-bottom: 32px;
	line-height: 1.3;
}

.faq_content li h3{
	font-size: 16px;
	color: #303228;
}

.faq_content li p{
	font-size: 14px;
	color: #9e9e9e; 
}

.faq_content li p a{
	text-decoration: none;
	color: #00cf94;
}

.faq_content li p a:hover{
	color: #278203;
}

.faq_content .refund .refund_step li{
	list-style: inside;
	font-size: 14px;
	color: #9e9e9e;
	margin: 0 0 0 28px;
}

.faq_content .refund .refund_step li:before{
	content: "";
	padding-left: 20px;
}

.faq_content .refund .after_refund{
	font-size: 14px;
	margin-top: 30px;
}

.faq_content .refund .after_refund li{
	list-style: inside;
	font-size: 14px;
	color: #9e9e9e;
	margin: 0 0 0 28px;
}

.faq_content .refund .after_refund li:before{
	content: "";
	padding-left: 20px;
}


.faq_form{
	display: flex;
	justify-content: space-between;
	background-color: #ececec;
	padding: 100px 42px 50px 42px;
}

.faq_form form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.faq_form h2{
	font-size: 30px;
	font-weight: bold;
	color: #303228;
	line-height: 2;
}

.faq_form form input, textarea{
	width: 400px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding: 12px 18px;
	margin-bottom: 20px;
}

.faq_form form .submit_btn{
	width: 160px;
	color: #ffffff;
	background-color: #00cf94;
	padding: 14px 38px;
}

.faq_form form .submit_btn:hover{
	background-color: #278203;
}